# quick_exploration_housing

Exploration notebook to quicklt generate profile reports to streamline work

In [20]:
# libs

import pandas as pd
from pandas_profiling import ProfileReport

In [21]:
# quickly explore the housing dataset
 
root_path = '../data/Boston_Housing_Market_Challenge/{}'

file_names = ['boston.csv', 'boston_corrected.csv']

In [4]:
dfs = [pd.read_csv(root_path.format(name)) for name in file_names]

In [6]:
dfs[0]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [7]:
dfs[1]

,TOWN,TOWNNO,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,0,2011,-70.9550,42.2550,24.0,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,1,2021,-70.9500,42.2875,21.6,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,1,2022,-70.9360,42.2830,34.7,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,2,2031,-70.9280,42.2930,33.4,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,2,2032,-70.9220,42.2980,36.2,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Winthrop,91,1801,-70.9860,42.2312,22.4,22.4,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,Winthrop,91,1802,-70.9910,42.2275,20.6,20.6,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,Winthrop,91,1803,-70.9948,42.2260,23.9,23.9,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,Winthrop,91,1804,-70.9875,42.2240,22.0,22.0,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,Winthrop,91,1805,-70.9825,42.2210,11.9,19.0,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [16]:
dfs[1].groupby(by = 'TOWN').mean()

,TOWNNO,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
TOWN,,,,,,,,,,,,,,,,,,,
Arlington,29.0,3564.0,-71.094971,42.249257,25.2000,25.2000,0.081846,0.0,4.05,0.0,0.510,6.226857,67.057143,2.980614,5.0,296.0,16.6,393.812857,8.860000
Ashland,43.0,3851.5,-71.279250,42.152850,21.4000,21.4000,0.041835,80.0,3.64,0.0,0.392,5.992000,25.550000,9.220300,1.0,315.0,16.4,394.035000,7.910000
Bedford,32.0,3592.0,-71.157900,42.301500,30.1000,30.1000,0.018130,60.0,2.93,0.0,0.401,6.702000,14.350000,6.219600,1.0,265.0,15.6,385.035000,4.705000
Belmont,30.0,3574.5,-71.105513,42.233925,36.2000,36.2000,0.072905,0.0,2.46,0.0,0.488,6.774375,75.487500,2.897788,3.0,193.0,17.8,393.890000,8.016250
Beverly,13.0,2173.5,-70.927917,42.335583,20.8000,20.8000,0.135922,25.0,5.13,0.0,0.453,6.166167,57.866667,7.332850,8.0,284.0,19.7,392.208333,9.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Weymouth,63.0,4224.5,-70.968312,42.125275,20.0375,20.0375,0.042755,0.0,5.19,0.0,0.515,6.054875,44.775000,5.523100,5.0,224.0,20.2,394.707500,8.542500
Wilmington,16.0,3312.0,-71.103000,42.334400,20.1000,20.1000,0.107197,12.5,6.07,0.0,0.409,5.785667,30.400000,6.498000,4.0,345.0,18.9,396.670000,9.993333
Winchester,23.0,3383.0,-71.085640,42.272600,33.1000,33.1000,0.101676,0.0,2.89,0.0,0.445,7.218600,60.560000,3.495200,2.0,276.0,18.0,387.428000,6.392000
Winthrop,91.0,1803.0,-70.988360,42.225940,20.1600,21.5800,0.065132,0.0,11.93,0.0,0.573,6.502600,81.380000,2.365500,1.0,273.0,21.0,395.228000,7.750000
Woburn,18.0,3333.5,-71.093000,42.291583,21.3000,21.3000,0.083835,0.0,12.83,0.0,0.437,6.180667,43.600000,4.402250,5.0,398.0,18.7,386.871667,9.900000

In [8]:
profiles = [
    ProfileReport(df, title=name[:-4], explorative=True) for df, name in zip(dfs, file_names)
]

In [10]:
for profile, name in zip(profiles, file_names):
    profile.to_file(name[:-3]+ 'html')

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/33 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]